<ng-container [ngSwitch]="type">
  <button *ngSwitchCase="'delete'" mat-raised-button class="delete" type="button">
    <mat-icon>delete</mat-icon>
  </button>
  <a *ngSwitchCase="'add'" mat-fab color="white" routerLink="./form">
    <mat-icon>add</mat-icon>
  </a>
  <a *ngSwitchCase="'goBack'" mat-raised-button routerLink="../" type="button">
    {{ 'app.cancel' | translate }}
  </a>
  <button *ngSwitchCase="'cancel'" mat-raised-button type="button">
    {{ 'app.cancel' | translate }}
  </button>
  <button *ngSwitchCase="'save'" type="submit" mat-raised-button>
    {{ 'app.save' | translate }}
  </button>
  <button *ngSwitchCase="'addDate'" type="button" mat-raised-button>
    {{ 'app.subjects.addDate' | translate }}
  </button>
</ng-container>
