button, a {
  font-family: var(--primary-font), var(--secondary-font) !important;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--font-primary-color);
  &:active {
    background-color: var(--secondary-color);
  }
}

.close {
  background-color: red;
}