<div [ngSwitch]="type">
  <button *ngSwitchCase="'delete'" mat-raised-button class="delete" type="button">
    <mat-icon>delete</mat-icon>
  </button>
  <button *ngSwitchCase="'add'" mat-fab color="white" routerLink="./form">
    <mat-icon>add</mat-icon>
  </button>
  <button *ngSwitchCase="'go-back'" mat-raised-button routerLink="../" type="button">
    {{ 'app.cancel' | translate }}
  </button>
  <button *ngSwitchCase="'cancel'" mat-raised-button type="button">
    {{ 'app.cancel' | translate }}
  </button>
  <button *ngSwitchCase="'save'" type="submit" mat-raised-button>
    {{ 'app.save' | translate }}
  </button>
</div>
