.breadcrumb {
  background: none;
  margin: 0;
  a, span {
      color: rgb(36, 32, 32);
      font-size: 1.5em;
  }
  a:hover, span:hover {
      color: rgb(129, 105, 105);
      text-decoration: none;
      cursor: pointer;
  }
  li{
      list-style: none;
      float: left;
      margin: 5px;
  }
  li:last-child {
      margin-right: 20px;
  }
  li::after {
      content: '->';
      color: darkgrey;
  }
  li:last-child::after {
      content: ''
  }
}
div {
  height: 3rem;
}