<mat-toolbar>{{subject | titlecase}}</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="container">
  <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell mat-sort-header="name" *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.student.name}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName" sticky>
      <th mat-header-cell mat-sort-header="lastName" *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.student.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="averageMark" sticky>
      <th mat-header-cell mat-sort-header="averageMark" *matHeaderCellDef> Average Mark </th>
      <td mat-cell *matCellDef="let element"> {{element.averageMark? element.averageMark:undefined}} </td>
    </ng-container>


    <ng-container *ngFor="let dateHeader of datesHeaders; index as i" [matColumnDef]="dateHeader.column">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="dp" disabled [formControl]="dateHeader.control">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp disabled="false"></mat-datepicker>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">
        <input type="number" [value]="element.marks[i]? element.marks[i]: ''">
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true" ></tr>
    <tr mat-row appHighlight [mark]="row.averageMark" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  <mat-toolbar>Teacher: 
      <input value="{{teacher | titlecase}}" placeholder="Enter teacher's name" formControlName="teacher">
  </mat-toolbar>
  <button mat-stroked-button type="submit">Save</button>
</form>