.container {
  overflow: auto;
}

input {
  background: inherit;
  font: inherit;
  border: none;
  margin-left: 10px;
  width: 50%;
  display: inline-block;
}

input:focus {
  outline: none;
}

.datepicker{
  width: fit-content;
}

.sticky{
  min-width: 100px;
}

mat-error {
  font-size: smaller;
}

app-delete-button {
  color: red;
  display: none;
  width: 50%;
}
.shown app-delete-button {
 display: inline-block;  
}