<mat-toolbar>{{ subjectName | titlecase }}</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" *ngIf="loaded; else loading">
  <button mat-stroked-button type="button" (click)="addDate()">Add Date</button>
  <div class="container">
    <table mat-table matSort [dataSource]="tableData" (matSortChange)="sortData($event)">
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell mat-sort-header="name" *matHeaderCellDef class="sticky">Name</th>
        <td mat-cell *matCellDef="let element" class="sticky">{{ element.student.name }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName" sticky>
        <th mat-header-cell mat-sort-header="lastName" *matHeaderCellDef class="sticky">Last Name</th>
        <td mat-cell *matCellDef="let element" class="sticky">{{ element.student.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="averageMark" sticky>
        <th mat-header-cell mat-sort-header="averageMark" *matHeaderCellDef class="sticky">Average Mark</th>
        <td mat-cell *matCellDef="let element" class="sticky">{{ element.averageMark ? element.averageMark : undefined }}</td>
      </ng-container>

      <ng-container *ngFor="let dateHeader of datesHeaders; index as i" [matColumnDef]="dateHeader">
        <th mat-header-cell *matHeaderCellDef formArrayName="dates" mat-sort-header="{{dateHeader}}">
          <mat-form-field ngClass="datepicker" appRemove>
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="dp" [formControlName]="i" readonly />
            <app-delete-button (click)="deleteDate(i)"></app-delete-button>
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
          <mat-error *ngIf="form.controls.dates.controls[i].errors">
            No duplicate dates
          </mat-error>
        </th>
        <form-field formGroupName="marks">
          <td mat-cell *matCellDef="let element" [formArrayName]="element.student._id">
            <ng-container *ngIf="form.controls.marks.controls[element.student._id].controls[i].errors">
              <mat-error *ngIf="form.controls.marks.controls[element.student._id].controls[i].errors.pattern; else elseTemplate">
                Mark should be integer
              </mat-error>
              <ng-template #elseTemplate>
                <mat-error>
                  Mark should be between 0 and 10
                </mat-error>
              </ng-template>
            </ng-container>
            <input matInput type="number" [value]="element.marks[i] ? element.marks[i] : ''" [formControlName]="i" />
          </td>
        </form-field>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row appHighlight *matRowDef="let row; columns: displayedColumns" [mark]="row.averageMark"></tr>
    </table>
  </div>
  <mat-toolbar>
    Teacher:
    <input value="{{ teacher | titlecase }}" placeholder="Enter teacher's name" formControlName="teacher" />
    <mat-error *ngIf="form.controls.teacher.errors">
      Teacher's field cannot contain numbers and special symbols
    </mat-error>
  </mat-toolbar>
  <button mat-raised-button type="submit">Save</button>
  <app-go-back-button></app-go-back-button>
</form>

<ng-template #loading>
  <mat-spinner></mat-spinner>
  LOADING...
</ng-template>
