table {
    width: 100%;
  }

app-button[type="delete"] {
    display: none;
}
.shown app-button[type="delete"] {
   display: inline-block;  
}

th {
  width: 20%;
}

.search {
  display: none;
}

.shown .search {
  display: inline-block;
}