<label>Name: <input matInput type="search" [formControl]="searchName"></label>
<label>Last Name: <input matInput type="search" [formControl]="searchLastName"></label>
<table mat-table matSort [dataSource]="tableData" (matSortChange)="sortData($event)" *ngIf="loaded; else loading">
  <ng-container matColumnDef="index">
    <th mat-header-cell mat-sort-header="index" *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element" appRemove>
      {{element._id}}
      <app-delete-button (click)="delete(element)"></app-delete-button>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header="name" *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell mat-sort-header="lastName" *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell mat-sort-header="address" *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<ng-template #loading>
  <mat-spinner></mat-spinner>
    LOADING
</ng-template>

<app-add-button></app-add-button>