table {
  width: 100%;
  font-family: 'BirchCTT', arial !important;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.table-container {
  height: 75%;
  overflow: auto;
}

app-button[type='delete'] {
  display: none;
}
.shown app-button[type='delete'] {
  display: inline-block;
}

th {
  width: 20%;
}

th,
td {
  font-size: 1.2rem !important;
}

.search {
  display: inline-block;
  width: 100%;
  font-family: 'BirchCTT', arial !important;
  font-size: 1rem !important;
}

.name {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.lastName {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
