table {
  width: 100%;
}

app-button[type='delete'] {
  display: none;
}
.shown app-button[type='delete'] {
  display: inline-block;
}

th {
  width: 20%;
}

.search {
  display: inline-block;
  width: 100%;
}

.name {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.lastName {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

// .shown .search {
//   display: inline-block;
// }
