<form [formGroup]="addingForm" (ngSubmit)="onSubmit(addingForm.value)" class="container">
  <ng-container *ngFor="let config of configs">
    <div [ngSwitch]="config.type">
      <mat-form-field appearance="fill" *ngSwitchCase="'text'">
        <mat-label>{{ 'app.form.' + config.label | translate }}</mat-label>
        <input matInput [required]="config.required" [formControlName]="config.label" />
      </mat-form-field>
      <mat-form-field appearance="fill" *ngSwitchCase="'textarea'">
        <mat-label>{{ 'app.form.' + config.label | translate }}</mat-label>
        <textarea matInput [required]="config.required" [formControlName]="config.label"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngSwitchCase="'number'">
        <mat-label>{{ 'app.form.' + config.label | translate }}</mat-label>
        <input type="number" matInput [required]="config.required" [formControlName]="config.label" />
      </mat-form-field>
    </div>
    <mat-error *ngIf="addingForm.controls[config.label].errors">
      <span *ngIf="addingForm.controls[config.label].errors.required && addingForm.controls[config.label].dirty">
        {{ 'app.form.' + config.label | translate }} {{ 'app.form.required' | translate }}
      </span>
      <span *ngIf="addingForm.controls[config.label].errors.pattern">
        {{ 'app.form.' + config.label | translate }} {{ 'app.form.incorrectSymbols' | translate }}
      </span>
    </mat-error>
  </ng-container>
  <app-button type="submit"></app-button>
  <app-button type="goBack"></app-button>
</form>
