.container {
  height: 100%;
  overflow: hidden;
}

form {
  height: 100%;
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-rows: 15% 80%;
  grid-template-columns: 90% 10%;
  .teacher {
    grid-column: 1 / 2;
    grid-row: 1;
    background-color: var(--background-color);
    height: 100%;
    font-family: var(--primary-font), var(--secondary-font);
    font-size: 1.5rem;
    input {
      width: 20rem;
      padding-left: 10px;
      border: var(--border-color) 1px solid;
      border-radius: 20px;
    }
  }
  .buttons {
    grid-column: 2;
    grid-row: 1;
    margin-top: auto;
    margin-bottom: auto;
  }
  .table-container {
    grid-column: 1;
    grid-row: 2;
    display: inline-block;
    overflow: auto;
    border: var(--border-color) 2px solid;
    background-color: var(--table-background-color);
    table {
      background-color: var(--table-background-color);
    }
  }
  .add-date {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
  }
}

.date-error {
  position: absolute;
  top: 35px;
}

td,
th {
  border-right: 1px rgba(0, 0, 0, 0.12) solid;
  text-align: center;
  font-family: var(--primary-font), var(--secondary-font);
}

input {
  background: inherit;
  font: inherit;
  border: none;
  margin-left: 10px;
}

input:focus {
  outline: none;
}

.sticky {
  min-width: 150px;
  text-align: left;
  font-size: 1rem;
}

mat-error {
  font-size: smaller;
}

app-button[type='delete'] {
  display: none;
  width: 30%;
}

.shown app-button[type='delete'] {
  display: inline;
  position: absolute;
  right: 20%;
}
