.container {
  overflow: auto;
}

input {
  background: inherit;
  font: inherit;
  border: none;
  margin-left: 10px;
  width: 50%;
  display: inline-block;
}

input:focus {
  outline: none;
}

.sticky {
  min-width: 100px;
}

mat-error {
  font-size: smaller;
}

app-button[type='delete'] {
  color: red;
  display: none;
  width: 30%;
}

.shown app-button[type='delete'] {
  display: inline-block;
}
