<div class="search">
  <label for="searchSubjects">
    {{ 'app.subjects.search' | translate }}
  </label>
  <input id="searchSubjects" type="search" [formControl]="searchSubjects" />
</div>
<div *ngIf="subjects$ | async as subjects; else notLoaded" class="container">
  <div *ngFor="let subject of subjects" appHover class="subject">
    <a mat-raised-button [routerLink]="['subject', subject.subjectName]" queryParamsHandling="preserve">
      {{ subject.subjectName | titlecase }}
    </a>
    <app-button type="delete" class="delete" (click)="delete(subject._id)"></app-button>
  </div>
</div>
<app-button type="add"></app-button>
<ng-template #notLoaded>
  <ng-container *ngIf="error$ | async as error; else loadingTemplate">
    <mat-error class="loading-error">
      {{ error }}
    </mat-error>
  </ng-container>

  <ng-template #loadingTemplate>
    <app-loading></app-loading>
  </ng-template>
</ng-template>
