<div class="search">
  <input id="searchSubjects" type="search" [formControl]="searchSubjects" />
  <label for="searchSubjects">
    <mat-icon>search</mat-icon>
  </label>
</div>
<app-button type="add"></app-button>
<div *ngIf="subjects$ | async as subjects; else notLoaded" class="container">
  <div *ngFor="let subject of subjects" class="subject" appHover>
    <a [routerLink]="['subject', subject.subjectName]" queryParamsHandling="preserve">
      {{ subject.subjectName | titlecase }}
    </a>
    <app-button type="delete" class="delete" (click)="deleteSubject(subject._id)"></app-button>
  </div>
</div>
<ng-template #notLoaded>
  <ng-container *ngIf="error$ | async as error; else loadingTemplate">
    <mat-error class="loading-error">
      {{ error }}
    </mat-error>
  </ng-container>

  <ng-template #loadingTemplate>
    <app-loading></app-loading>
  </ng-template>
</ng-template>
