/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'birchctt';
  src: url('./assets/fonts/birchctt.ttf');
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0;
}

app-button[type='add'] {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: max-content;
}

.loading {
  position: relative;
  margin: auto;
  width: 20vw;
  top: 20vh;
  font-family: 'BirchCTT', arial !important;
  font-size: 1rem !important;
}

.loading-error {
  font-size: 3rem !important;
  display: block;
  width: max-content;
  margin: auto;
  position: relative;
  top: 30%;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
