.tabs {
  width: max-content;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 40%;
  border: none;
}

.tab {
  font-family: 'BirchCTT', arial !important;
  font-size: 1.5rem;
}

.toolbar {
  height: 60%;
  background-color: #5411a7;
  font-size: 2rem;
  font-family: 'BirchCTT', arial !important;
  a, a:visited {
    color: #716c6b;
    text-decoration: none;
  }
  a:hover {
      text-decoration: underline;
  }
  a:active {
      color: #ec7f22;
  }
}

.languages {
  width: max-content;
  position: absolute;
  right: 0;
  display: flex;
  font-size: 1.5rem;
  mat-button-toggle {
    font-family: 'BirchCTT', arial !important;
    width: 5rem;
    height: 3.5rem;
  }
}
