.tabs {
    width: max-content;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 40%;
}

.tab {
    font-family: 'BirchCTT', arial !important;
    font-size: 1rem;
}

.toolbar {
    height: 60%;
    font-size: 2rem;
    font-family: 'BirchCTT', arial !important;
}

.languages {
    width: max-content;
    position: absolute;
    right: 0;
    display: flex;
    font-size: 1.5rem;
    mat-button-toggle {
        font-family: 'BirchCTT', arial !important;
        width: 5rem;
        height: 3.5rem;
    }
}